<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mynd-framework
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png)$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?pathinfo=$1 [L,QSA]
</IfModule>
